.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 6;
    background-color: var(--header-bg2);

    &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        @media (min-width: 576px) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @media (min-width: 768px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media (min-width: 992px) {
            padding-top: 22px;
            padding-bottom: 22px;
        }

        @media (min-width: 1200px) {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        @media (min-width: 1200px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &-link {
        display: flex;
        align-items: center;
    }

    &-text {
        font-size: 24px;
        line-height: 24px;
        color: var(--main);

        @media (min-width: 577px) {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &__navigation {
        order: 1;

        @media (min-width: 992px) {
            order: 0;
        }
        
        &-burger {
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            cursor: pointer;
            
            @media (min-width: 992px) {
                display: none;
            }

            & span {
                position: absolute;
                background-color: var(--white);
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

            &:before,
            &:after {
                content: '';
                background-color: var(--white);
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            &.activation:before{
                transform: rotate(45deg);
                top: 9px;
            }

            &.activation:after{
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &.activation span{
                transform: scale(0);
            }
        }

        &-list {
            position: fixed;
            top: -100%;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.4s ease 0s;
            backdrop-filter: blur(10px);
            text-align: center;
            z-index: 2;
            padding: 40px;

            @media (min-width: 992px) {
                position: inherit;
                display: flex;
                overflow: hidden;
                justify-content: space-between;
                padding: 0;
            }

            &.activation {
                top: 0;
                left: 0;
            }
        }

        &-items {
            color: var(--main);
            padding: 30px 0;

            @media (min-width:992px) {
                color: var(--white);
                padding: 0 30px;
            }
        }

        &-links {
            font-size: 15px;
            line-height: 14px;
            letter-spacing: 0.8px;

            &:hover {
                color: var(--main);
                filter: drop-shadow(0 0 10px var(--white));
            }
        }
    }

    &-telephone {
        color: var(--white);
        font-size: 14px;
        line-height: 30px;
        
        @media (min-width: 577px) {
            font-size: 15px;
        }

        & span {
            display: none;

            @media (min-width: 1201px) {
                display: block;
            }
        }
        
        & img {
            @media (min-width: 1201px) {
                display: none;
            }
        }

        &:hover {
            color: var(--main);
        }
    }
}