.proccess {

    &-title {
        color: var(--header-bg);
        text-align: center;
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: 1px;

        @media (max-width: 576px) {
            font-size: 32px;
            line-height: 38px;
        }

        @media (min-width: 768px) {
            font-size: 36px;
            line-height: 42px;
        }

        @media (min-width: 992px) {
            font-size: 38px;
            line-height: 46px;
        }

        @media (min-width: 1200px) {
            font-size: 40px;
            line-height: 48px;
        }
    }

    &-subtitle {
        color: var(--main);
    }

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 72px 20px;        

        @media (min-width: 576px) {
            padding: 72px 40px;
        }

        @media (min-width: 768px) {
            padding: 72px 60px;
        }

        @media (min-width: 992px) {
            padding: 72px 80px;
        }

        @media (min-width: 1200px) {
            padding: 72px 145px;
        }
    }

    &__block-item {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 576px) {
            width: 48%;
            padding: 0 10px;
        }

        @media (min-width: 768px) {
            width: 32%;
        }

        @media (min-width: 992px) {
            width: 32%;
        }

        @media (min-width: 1200px) {
            width: 33.333%;
            padding: 0 67px;
        }
    }

    &__block-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 16px;

        &_01 {
            @supports (background-image: url("../img/planning.webp")) {
                background-image: url(../img/planning.webp);
            }

            @supports not (background-image: url("../img/planning.webp")) {
                background-image: url(../img/planning.png);
            }  
        }

        &_02 {
            @supports (background-image: url("../img/design.webp")) {
                background-image: url(../img/design.webp);
            }

            @supports not (background-image: url("../img/design.webp")) {
                background-image: url(../img/design.png);
            }    
        }

        &_03 {          
            @supports (background-image: url("../img/development.webp")) {
                background-image: url(../img/development.webp);
            }

            @supports not (background-image: url("../img/development.webp")) {
                background-image: url(../img/development.png);
            }   
        }

        @media (min-width: 576px) {
            width: 180px;
            height: 180px;
            margin-bottom: 10px;
        }
    }

    &__block-text {
        color: var(--header-bg);
        font-size: 30px;
        line-height: 30px;
        text-transform: capitalize;
        text-align: center;

        @media (max-width: 576px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media (min-width: 768px) {
            font-size: 26px;
            line-height: 30px;
        }

        @media (min-width: 992px) {
            font-size: 28px;
            line-height: 32px;
        }

        @media (min-width: 1200px) {
            font-size: 30px;
            line-height: 34px;
        }
    }
}