.reason {
    position: relative;
    padding: 145px 20px; /* Зменшив відступи для мобільних пристроїв */
    
    @supports (background: url("../img/team.webp")) {
        background: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../img/team.webp) no-repeat center/cover;
    }
    
    @supports not (background: url("../img/team.webp")) {
        background: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../img/team.png) no-repeat center/cover;
    }

    @media (min-width: 576px) {
        padding: 145px 40px;
    }

    @media (min-width: 768px) {
        padding: 145px 60px;
    }

    @media (min-width: 992px) {
        padding: 145px 80px;
    }

    @media (min-width: 1200px) {
        padding: 145px 145px;
    }

    &-title {
        color: var(--grey);
        font-size: 40px;
        line-height: 46px;
        letter-spacing: 1px;
        padding-left: 20px; /* Зменшив відступ для мобільних пристроїв */
        border-left: 2px solid var(--main);
        width: 100%; /* Займає повну ширину для мобільних пристроїв */
        margin-bottom: 86px;

        & span {
            color: var(--main);
            font-weight: 600;
        }

        @media (min-width: 576px) {
            font-size: 32px;
            line-height: 38px;
            padding-left: 10px;
        }

        @media (min-width: 768px) {
            font-size: 36px;
            line-height: 42px;
        }

        @media (min-width: 992px) {
            font-size: 40px;
            line-height: 46px;
        }

        @media (min-width: 1200px) {
            font-size: 40px;
            line-height: 46px;
        }
    }

    &__block {

        &-item {
            padding-bottom: 46px;
        }

        &-number {
            color: var(--main);
            font-size: 44px;
            line-height: 40px;
            letter-spacing: 1px;
            padding-bottom: 38px;
        }

        &-title {
            color: var(--grey);
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 1px;
            padding-bottom: 28px;

            @media (min-width: 576px) {
                font-size: 18px;
            }

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 992px) {
                font-size: 16px;
            }

            @media (min-width: 1200px) {
                font-size: 16px;
            }
        }

        &-text {
            width: 100%; /* Займає повну ширину для мобільних пристроїв */
            color: var(--soft-grey);
            font-size: 16px;
            line-height: 30px;

            @media (min-width: 576px) {
                width: 80%;
            }

            @media (min-width: 768px) {
                width: 70%;
            }

            @media (min-width: 992px) {
                width: 50%;
            }

            @media (min-width: 1200px) {
                width: 50%;
            }
        }
    }
}