.coin-popup {
    position: absolute;
    top: 40px;
    right: 14px;
    z-index: 10;
    width: 100%;
    padding: 5px;
    display: none;
    transition: all 0.3s ease-in 0.3s;
    background-color: #F5F9FE;

    &.show {
        display: block;
    }
}

.coin-list {
    height: 400px;
    overflow: auto;
}

.coin-item {
    cursor: pointer;

    &:hover {
        color: #3E8BF3;
    }
}