:root {
    --red: #d10b0bb2;
    --transparent: transparent;
    --white: #fff;
    --white-hover: #ffffffc7;
    --black: #000000;
    --header-bg: #141D28;
    --header-bg2: #0C1117;
    --main: #44bf42;
    --nav: rgba(67, 190, 65, 0.5);
    --creame: #F6F6F6;
    --grey: #233142;
    --soft-grey: #5C6F87;
}